body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  
  background: rgb(1,151,196);
  background: linear-gradient(0deg, rgba(1,151,196,1) 0%, rgba(0,199,1,1) 100%);
  background-repeat: no-repeat;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  min-height: 250px;
  border-radius: 50px;

  padding: 20px;

  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 5px 5px 15px 10px black;
}

.title {
  font-size: 50px;
  padding-bottom: 20px;
}

form {
  border: 1px solid fuchsia;
}

textarea {
  background-color: white;
}

/* label {
  display: inline-block;
  width: 260px;
  padding: 5px;

  font-size: 25px;
} */

/* .checkbox {
  width: 20px;
  height: 20px;
  
  cursor: pointer;
} */

#slider::-webkit-slider-thumb {
  cursor: pointer;
} 

@media only screen and (min-width: 600px) {
  .card {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 65%;
  }
}